# Ignore composer stuff
/vendor/

# Ignore concrete5 stuff
public/concrete
public/application/files
public/application/themes/forza-digital/css/build.css
public/application/themes/forza-digital/js/build.js

# Ignore developer stuff
.idea
node_modules
.env

# Stuff that's likely to change
composer.lock
yarn.lock
mix-manifest.json

# Mac stuff
.DS_Store