.news-recent {
    .ccm-block-page-list-pages {
        @include make-row();
    }

    .ccm-block-page-list-page-entry-horizontal,
    .ccm-block-page-list-page-entry {
        @include make-col-ready();

        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }
    }

    .ccm-block-page-list-page-entry-text {
        background-color: $white;
        padding: 1rem;
    }

    .ccm-block-page-list-title {
        font-weight: 700;
    }

    .ccm-block-page-list-date {
        font-size: 0.875rem;
        font-style: italic;
    }

    .ccm-block-page-list-description {
        margin: 0.625rem 0;
    }

    .ccm-block-page-list-page-entry-thumbnail {
        img {
            @extend .img-fluid;
        }
    }

    .ccm-block-page-list-read-more {
        @extend .btn;
        @extend .btn-primary;
    }
}